@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Signika+Negative:wght@300..700&display=swap");



:root {
  --primary-clr-black: #000000de;
  --primary-clr-pink: rgb(219 39 119);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Signika Negative", sans-serif;
}
body {
  background-color: #000000de;
  color: white;
}
button {
  color: black;
}
